<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    单例-实例化的对象都是一个-->
    <bean id="scopeSingleton" class="com.hh.bean_scope.BeanScope" scope="singleton" />
<!--    多例-实例化的对象是多个-->
    <bean id="scopePrototype" class="com.hh.bean_scope.BeanScope" scope="prototype" />
</beans>
